AUTH0_DOMAIN=dev-7zglzp0amrp0or72.us.auth0.com
AUTH0_CLIENT_ID=your-client-id
AUTH0_CLIENT_SECRET=your-client-secret
AUTH0_AUDIENCE=https://api.securenova.ai
SESSION_SECRET=replace-with-a-random-session-secret

M2M_CLIENT_ID=your-m2m-client-id
M2M_CLIENT_SECRET=your-m2m-client-secret

SSO_CLIENT_ID=your-sso-client-id
SSO_CLIENT_SECRET=your-sso-client-secret